/* Accessible Copy Link */

span.accessiblecopy {
  display: block;
  padding-top: 10px;
}

span.sourceaccessible {
  background-color: #fff;
  display: block;
  margin-bottom: 20px;
  padding: 10px 30px;
}

prm-brief-result-after a.accessible_copy {
  padding-left: 0px;  /* padding from the left of request acc LINE*/
}

/* acc icon */
prm-brief-result-after a::before {
  background-image: url('../img/icon_accessibility.png');
  content: " ";
  display: inline-block ;
  position: relative; /* relative for better control */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 2px; /* Space between the acc icon and text from the right of icon*/
  margin-top: 2px;  /* Space on top of icon*/
  height: 15px;
  width: 15px;
  min-height: 15px;
  min-width: 15px;
}

/* new tab icon */
prm-brief-result-after prm-icon md-icon {
  height: 14px;
  width: 14px;
  min-height: 14px;
  min-width: 14px;
  position: relative;
  margin-left: -5px; /* Space between the text and new tab icon */
}

/* hide a text and make it accessible by screen reader */
.aria-invisible {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /*support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path */
  white-space: nowrap;
}
